<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My CMS Blog</title>
  <!-- Add your CSS stylesheets here -->
</head>

<body>
  <!-- Add your navigation here -->

  {{{ body }}}

  <!-- Add your client-side JavaScript files here -->
</body>
</html>
